@model Gp_V1.Models.SeekerProviderViewModel

@{
    ViewBag.Title = "New Users In This Month";
}

<h2 class="text-primary mb-3">New Users In @DateTime.Now.ToString("MMMM")</h2>

<hr />

<h4 class="text-dark d-inline-block mb-3" style="border-bottom: 2px solid #444;">Providers</h4>
@if (Model.RegisterUsers.Count() == 0)
{
    <div class="alert alert-danger">
        No Register Provider In This Month Yet!
    </div>
}
else
{
    <table class="table table-bordered table-responsive">
        <tr>
            <th>Provider Photo</th>
            <th>Provider Name</th>
            <th>Company Name</th>
            <th>Publish Jobs</th>
            <th>Registration Date</th>
            <th>State</th>
            <th></th>
        </tr>
        @foreach (var provider in Model.RegisterUsers)
        {
            <tr>
                <td>
                    <img src="~/Upload/ProvidersImage/@provider.ProviderImage" alt="provider Image" class="img-fluid img-thumbnail" style="width:100px;height:100px" />
                </td>
                <td>@provider.Name</td>
                <td>@provider.CompanyName</td>
                <td>@provider.Jobs.Count()</td>
                <td>@provider.RegistrationDate</td>
                <td>
                    @if (provider.IsActive == true)
                    {
                        <button class="btn btn-success">Active</button>
                    }
                    else
                    {
                        <button class="btn btn-danger">Blocked</button>
                    }
                </td>
                <td>
                    @Html.ActionLink("Show Details", "UserDetails", "RegisterUser", new { id = provider.Id }, new { @class="btn btn-primary" })
                </td>
            </tr>
        }
    </table>
}

<h4 class="text-dark d-inline-block mb-3" style="border-bottom: 2px solid #444;">Seekers</h4>
@if (Model.SeekerRegistrations.Count() == 0)
{
    <div class="alert alert-danger">
        No Register Seeker In This Month Yet!
    </div>
}
else
{
    <table class="table table-bordered table-responsive">
        <tr>
            <th>Seeker Photo</th>
            <th>Seeker Name</th>
            <th>Seeker E-mail</th>
            <th>Search on Job Title</th>
            <th>Registration Date</th>
            <th>State</th>
            <th></th>
        </tr>
        @foreach (var seeker in Model.SeekerRegistrations)
        {
    <tr>
        <td>
            <img src="~/Upload/SeekersImage/@seeker.SeekerImage" alt="seeker Image" class="img-fluid img-thumbnail" style="width:100px;height:100px" />
        </td>
        <td>@seeker.Name</td>
        <td>@seeker.Email</td>
        <td>@seeker.SearchOnJobTitle</td>
        <td>@seeker.RegistrationDate</td>
        <td>
            @if (seeker.IsActive == true)
            {
                <button class="btn btn-success">Active</button>
            }
            else
            {
                <button class="btn btn-danger">Blocked</button>
            }
        </td>

        <td>
            @Html.ActionLink("Show Details", "SeekerDetails", "RegisterUser", new { id = seeker.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
        }
    </table>
}

<hr />

<p>
    @Html.ActionLink("Back To Dashboard","Index", "AdminViewModel", null, new { @class="btn btn-dark"})
</p>